<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>ISTACK | Responsive Admin Theme</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="/stylesheets/vendor/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/stylesheets/vendor/animate.css/animate.css"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/vendor/toastr/toastr.min.css"/>

    <!-- App styles -->
    <link rel="stylesheet" href="/stylesheets/pe-icons/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" href="/stylesheets/pe-icons/helper.css"/>

    <link rel="stylesheet" href="/stylesheets/style.css">


    <!--Paper js-->
    <% include ./common/scripts %>

</head>
<body>
<div class="wrapper">

    <!-- Header-->
    <nav class="navbar navbar-default" role="navigation">


        <div class="navbar-header text-center">
            <a href="#" class="navbar-brand">iSTACK <span>1.0</span></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">

            <div class="container pull-left">
                <ul class="nav nav-justified">


                    <li class="active">
                        <a href="#" class="btn btn-block">
                            <h3>Home</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-block">
                            <h3> Datasets</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-block">
                            <h3>Projects
                                <span>

                                </span></h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Live <span></span></h3>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="nav pull-right settings">
                    <li class="">
                        <a href="#">
                            <h3><span class="fa fa-cogs"></span></h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>


    <div class="panel panel-success" style="position:absolute; right:5px; width:20%;height:auto; zoom: 2;">
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item btn btn-squared" data-toggle="modal" data-target="#toolpanel"
                style="margin-bottom:1px;color:#ffffff;background-color: #1bbf89;">New Connection
            </li>
            <li class="list-group-item btn btn-squared"
                style="margin-bottom:1px;color:#ffffff;background-color: #1bbf89;">New Element
            </li>
            <li class="list-group-item btn btn-squared"
                style="margin-bottom:1px;color:#ffffff;background-color: #1bbf89;">Element Info
            </li>
            <li class="list-group-item btn btn-squared"
                style="margin-bottom:1px;color:#ffffff;background-color: #1bbf89;">Porta ac consectetur ac
            </li>

        </ul>
    </div>
    <canvas id="networkCanvas" style="width:100%;height:100%;background-color: #ffffff"></canvas>


    <!-- End main content-->

</div>
<div class="modal" id="toolpanel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">New Connection</h4>

                <img src="images/Elements.png" width="100%" height="20%">
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- End wrapper-->
<!--Paper scripts-->
<script type="text/javascript" src="/javascripts/internal/settings.js"></script>
<script type="text/javascript" src="/javascripts/internal/canvasEvents.js"></script>
<script type="text/paperscript" src="/javascripts/internal/designer.js" canvas="networkCanvas"></script>

<!-- Vendor scripts -->
<script src="/stylesheets/vendor/pacejs/pace.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script src="/stylesheets/vendor/toastr/toastr.min.js"></script>
<script src="/stylesheets/vendor/sparkline/index.js"></script>


</body>

</html>