<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <!-- Page title -->
    <title>Dexel | ML</title>


    <!-- Vendor styles -->
    <link rel="stylesheet" href="/stylesheets/vendor/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/stylesheets/vendor/animate.css/animate.css"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/javascripts/external/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="/stylesheets/vendor/toastr/toastr.min.css"/>

    <!-- App styles -->
    <link rel="stylesheet" href="/stylesheets/pe-icons/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" href="/stylesheets/pe-icons/helper.css"/>

    <!--Custom CSS Files-->
    <link rel="stylesheet" href="/stylesheets/colors.css">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--Animate CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.css">

    <!--Intro JS CSS -->
    <link rel="stylesheet" href="/javascripts/external/introJS/intro.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Salsa"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Candal"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat">
    <!-- Paper js -->
    <% include ./common/scripts %>

</head>

<body>

<div class="wrapper">
    <nav class="navbar navbar-dark" role="navigation">

        <ul class="nav navbar-nav container">


            <li class="nav-item active">
                <a href="#" class="btn btn-block">
                    <h4>Home</h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="btn btn-block">
                    <h4> Datasets</h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="btn btn-block">
                    <h4>Projects</h4>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a href="#" class="btn btn-block">
                    <h4>About Us</h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="btn btn-block intro">
                    <h4>Intro?</h4>
                </a>
            </li> -->

        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
                <a href="#">
                    <h4>

                        <!--<i class="fa fa-cog fa-x"></i>-->
                    </h4>
                </a>
            </li>
        </ul>


    </nav>

    <span id="sample"></span>
    <div class="row main-content-wrapper">

        <div class="toolbar col-sm-1">
            <button type="button"
                    class="btn tooltip-feature btn-circle btn-block add-element"
                    data-toggle="modal" id='addElement' data-target="#newElement" data-placement="right"
                    title="Create New Element" style="background-color: transparent;">
                <i class="fa fa-plus fa-1x" style="color : var(--btn-hover);"></i></button>
            <button type="button" class="btn tooltip-feature btn-default btn-circle btn-block"
                    data-toggle="modal" data-placement="right" title="Element delete"
                    style="background-color: transparent;"
                    data-target="#elementInfo"><i class="fa fa-trash fa-1x" style="color : var(--btn-hover);"></i>
            </button>
        </div>
        <div class="canvas-container col-lg-11">
            <canvas id="networkCanvas"></canvas>
        </div>
    </div>
    <!-- End main content-->

</div>


<!-- New Connection Modal-->
<div class="modal fade" id="newConnection" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-justify" id="exampleModalLabel">New Connection</h4>

                <img src="images/Elements.png" width="100%" height="18%">
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" style="zoom: 1;">
                        <div class="row">
                            <div class="dropdown col-md-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Property 1
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <div class="dropdown col-md-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Property 1
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <a href="#" class="btn btn-default btn-lg fa fa-minus-circle col-md-2 offset-md-2"></a>
                        </div>
                    </li>

                    <li class="list-group-item" style="zoom: 1;">
                        <div class="row">
                            <div class="dropdown col-md-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Property 1
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <div class="dropdown col-md-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Property 1
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <a href="#" class="btn btn-default btn-lg fa fa-minus-circle col-md-2 offset-md-2"></a>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default btn-lg fa fa-plus-circle "> Add New Connection</a>
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id='cancel-conn' data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id='save-conn' data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>


<!-- New Element Modal -->
<div class="modal fade" id="newElement" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-justify">Create New Element</h4>
            </div>
            <div class="modal-body row">
                <div class="col-lg-5">
                    <ul class="nav nav-list container" id="element">

                    </ul>
                </div>
                <div class="col-lg-7">
                    <h4 class="element text-primary">Element </h4>

                    <p class="desc text-primary">Description</p>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary add-element-submit" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>


<!-- Element Information Modal-->
<div class="modal fade" id="elementInfo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title text-justify">Element information</h4></div>
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Connections</a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active bg-default" id="home" role="tabpanel">
                        <p>The Overview</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod porta tempor.
                            Donec pulvinar turpis nec velit pellentesque quis rhoncus sapien facilisis. Mauris quis
                            massa dui, rhoncus viverra quam. Nulla tempus, augue ut consectetur facilisis, arcu elit
                            pellentesque arcu, sed rutrum orci turpis pulvinar augue. Donec eget arcu mauris.
                            Vestibulum tristique consequat lacus eget laoreet. Integer sed nisl sed nibh pulvinar
                            ornare quis nec quam. Aenean rhoncus ligula ut lectus placerat a commodo quam vulputate.
                            In eu metus turpis.</p>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Phasellus facilisis erat in nibh auctor at aliquet velit vestibulum. Curabitur turpis
                            diam, malesuada eu consequat eget, ultricies sed nunc. Aenean sed odio massa. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare vulputate congue.
                            Quisque leo metus, condimentum nec molestie et, egestas luctus libero.</p>

                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel">The Connections</div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>


<!-- End wrapper-->
<script src="/javascripts/internal/internalStorage.js"></script>

<!--Paper scripts-->

<script type="text/javascript" src="/javascripts/internal/settings.js"></script>
<script type="text/javascript" src="/javascripts/internal/canvasEvents.js"></script>
<script type="text/paperscript" src="/javascripts/internal/designer.js" canvas="networkCanvas"></script>

<!--Intro JS -->
<script type="text/javascript" src="/javascripts/external/introJS/intro.js"></script>
<script>


    $('.intro').click(function () {

        var intro = introJs();
        intro.setOptions({
            steps: [
                {
                    intro: "<p class='h4 blockquote'>Welcome to iStack Tutorial</p>"
                },

                {
                    element: document.querySelector('.add-element'),
                    intro: "<p class='h4 blockquote'>Add New Element</p>",
                    position: "left"
                },
                {

                    intro: "<p class='h4 blockquote'>Double click on any element to view it's information</p>"
                }


            ],
            showBullets: false
        });

        intro.start();


    });

</script>
<!-- Vendor scripts -->
<script src="/stylesheets/vendor/pacejs/pace.min.js"></script>

<!-- Latest compiled and minified Bootstrap & Tether JavaScript -->
<script src="/javascripts/external/bootstrap/dist/js/tether.min.js"></script>
<script src="/javascripts/external/bootstrap/dist/js/bootstrap.js"></script>

<script src="/stylesheets/vendor/toastr/toastr.min.js"></script>
<script src="/stylesheets/vendor/sparkline/index.js"></script>
<!-- InternalCore -->
<script src="/javascripts/internal/internalCore.js"></script>

</body>

</html>
