<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <!-- Page title -->
    <title>ISTACK | Responsive Admin Theme</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="/stylesheets/vendor/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/stylesheets/vendor/animate.css/animate.css"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/javascripts/external/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/vendor/toastr/toastr.min.css"/>

    <!-- App styles -->
    <link rel="stylesheet" href="/stylesheets/pe-icons/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" href="/stylesheets/pe-icons/helper.css"/>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!--Paper js-->
    <% include ./common/scripts %>

</head>

<body>
<div class="wrapper">

    <!-- Header-->

    <nav class="navbar navbar-dark" role="navigation">


        <a href="#" class="navbar-brand"><span class="word2"> i</span><span class="word1">stack </span> </a>


        <ul class="nav navbar-nav">


            <li class="nav-item active">
                <a href="#" class="btn btn-block">
                    <h4>Home</h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="btn btn-block">
                    <h4> Datasets</h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="btn btn-block">
                    <h4>Projects</h4>
                </a>
            </li>

        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
                <a href="#">
                    <h4>
                        <!--<i class="fa fa-cog fa-x"></i>-->
                    </h4>
                </a>
            </li>
        </ul>


    </nav>

    <div class="toolbar container pull-right">
        <button type="button" class="btn tooltip-feature btn-default btn-circle btn-lg"
                data-toggle="modal"

                data-target="#newElement" data-placement="bottom" title="Create New Element">
            <i
                    class="fa fa-plus fa-1x text-muted"></i></button>
        <button type="button" class="btn tooltip-feature btn-default btn-circle btn-lg"
                data-toggle="modal" data-placement="bottom" title="Element info"
                data-target="#elementInfo"><i class="fa fa-info fa-1x text-muted"
            ></i></button>
        <button type="button" class="btn btn-default btn-circle btn-lg" data-toggle="modal"
                data-target="#other"><i class="fa fa-hand-peace-o fa-1x text-muted"></i></button>
    </div>


    <canvas id="networkCanvas"></canvas>


    <!-- End main content-->

</div>
<div class="modal" id="newConnection" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">New Connection</h4>

                <img src="images/Elements.png" width="100%" height="18%">
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" style="zoom: 1;">
                        <div class="row">
                            <div class="dropdown col-md-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Property 1
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <div class="dropdown col-md-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Property 1
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <a href="#" class="btn btn-default btn-lg fa fa-minus-circle col-md-2 offset-md-2"></a>
                        </div>
                    </li>

                    <li class="list-group-item" style="zoom: 1;">
                        <div class="row">
                            <div class="dropdown col-md-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Property 1
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <div class="dropdown col-md-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Property 1
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <a href="#" class="btn btn-default btn-lg fa fa-minus-circle col-md-2 offset-md-2"></a>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default btn-lg fa fa-plus-circle "> Add New Connection</a>
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newElement" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-justify">Create New Element</h4>
            </div>
            <div class="modal-body row">
                <div class="col-lg-5">
                    <ul class="nav nav-list container">
                        <li>
                            <label class="tree-toggler nav-header card text-md-center h4 bg-info">Category 1</label>
                            <ul class="nav nav-list tree">
                                <li class="card h5 offset-lg-2">Square</li>
                                <li class="card h5 offset-lg-2">Circle
                                </li>

                            </ul>

                        </li>
                        <li>
                            <label class="tree-toggler nav-header card text-md-center h4 bg-info">Category 2</label>
                            <ul class="nav nav-list tree">
                                <li class="card h5 offset-lg-2">Square</li>
                                <li class="card h5 offset-lg-2">Circle
                                </li>

                            </ul>

                        </li>


                    </ul>

                </div>
                <div class="col-lg-7">
                    <h4>Element1</h4>

                    <p>
                        For 50 years, WWF has been protecting the future of nature. The world's leading conservation
                        organization, WWF works in 100 countries and is supported by 1.2 million members in the United
                        States and close to 5 million globally.
                    </p>
                    <h4>During Forward Pass</h4>
                    <p> For 50 years, WWF has been protecting the future of nature. The world's leading conservation
                        organization, WWF works in 100 countries and is supported by 1.2 million members in the United
                        States and close to 5 million globally.
                    </p>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="elementInfo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title text-justify">Element information</h4></div>
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Connections</a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel">The Overview</div>
                    <div class="tab-pane" id="profile" role="tabpanel">The Connections</div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
<!-- End wrapper-->
<!--Paper scripts-->
<script type="text/javascript" src="/javascripts/internal/settings.js"></script>
<script type="text/javascript" src="/javascripts/internal/canvasEvents.js"></script>
<script type="text/paperscript" src="/javascripts/internal/designer.js" canvas="networkCanvas"></script>

<!-- Vendor scripts -->
<script src="/stylesheets/vendor/pacejs/pace.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled and minified Bootstrap & Tether JavaScript -->
<script src="/javascripts/external/bootstrap/dist/js/tether.min.js"></script>
<script src="/javascripts/external/bootstrap/dist/js/bootstrap.js"></script>

<script src="/stylesheets/vendor/toastr/toastr.min.js"></script>
<script src="/stylesheets/vendor/sparkline/index.js"></script>

<!-- Initailizing Script - Can be externalized later -->
<script>
    $(function () {
        $('.tooltip-feature').tooltip()

        $('.nav-item').click(function () {
            $('.nav-item').removeClass('active');
            $(this).addClass('active')


        })
        $('label.tree-toggler').click(function () {

            $(this).parent().children('ul.tree').toggle(300);
        });

    })

</script>

</body>

</html>