<nav class="navbar  navbar-light" role="navigation">

    <ul class="nav container">
        <li class="nav-item <%= home %>">

            <h4 class="btn-lg btn col-md-2" id="nav-home"><span class="m-x-auto">  HOME</span></h4>
        </li>
        <li class="nav-item <%= datasets %>">
            <h4 class="btn-lg btn col-md-2"><span class="m-x-auto">  DATASETS</span></h4>
        </li>
        <li class="nav-item <%= projects %>">

            <h4 class="btn-lg btn col-md-2" id="nav-projects"><span class="m-x-auto">  PROJECTS</span></h4>
        </li>
        <!-- <li class="nav-item">
            <a href="#" class="btn btn-block">
                <h4>About Us</h4>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="btn btn-block intro">
                <h4>Intro?</h4>
            </a>
        </li> -->

    </ul>
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
            <a href="#">
                <h4>

                    <!--<i class="fa fa-cog fa-x"></i>-->
                </h4>
            </a>
        </li>
    </ul>


</nav>