<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <!-- Page title -->
    <title>Dexel | ML</title>


    <!-- Vendor styles -->
    <link rel="stylesheet" href="/stylesheets/vendor/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/stylesheets/vendor/animate.css/animate.css"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/javascripts/external/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="/stylesheets/vendor/toastr/toastr.min.css"/>

    <!-- App styles -->
    <link rel="stylesheet" href="/stylesheets/pe-icons/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" href="/stylesheets/pe-icons/helper.css"/>

    <!--Custom CSS Files-->
    <link rel="stylesheet" href="/stylesheets/colors.css">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--Animate CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.css">

    <!--Intro JS CSS -->
    <link rel="stylesheet" href="/javascripts/external/introJS/intro.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Salsa"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Candal"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat">
    <!-- Paper js -->
    <% include ./common/scripts %>

</head>

<body>

<div class="wrapper">

    <%- include("navbar.ejs",{projects:"active",datasets:"inactive",home:"inactive"}) %>
    <div class="projects-container">

    </div>


    <!-- End main content-->

</div>
<div class="modal fade" id="snapshots-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-justify">Project Information</h4>
            </div>
            <div class="modal-body row snapshot-wrapper">
                <ul class="nav of nav-stacked col-md-4 nav-elements" id="snapshots">

                </ul>
                <div class="col-md-8">
                    <span class="h4">Snapshot Name 1</span>
                    <br><br>
                    <span class="">Snapshot id : abcded </span>
                    <br><br>
                    <span class="">Last updated : 12-Oct-2016</span>
                    <br><br>
                    <span class="">Deployment Status : <span class="tag tag-warning btn-circle "
                                                             style="position:absolute;margin-left: 3%;width:25px;height:25px;"> </span></span>
                    <br><br>
                    <span class="">Description</span>
                    <p class="text-justify m-l-6">
                        Using color to add meaning only provides a visual indication, which will not be conveyed
                        to users of assistive technologies – such as screen readers. Ensure that information denoted by
                        the color is either obvious from the content itself (e.g. the visible text), or is included
                        through alternative means, such as additional text hidden with the .sr-only class.</p>
                    <div>
                        <div class="m-t-3">
                            <button type="button" class="btn btn-danger col-lg-3 offset-lg-1" data-dismiss="modal"
                                    style="padding: 1.5% ">Delete
                            </button>
                            <button type="button" class="btn btn-info col-lg-3 offset-lg-1" data-dismiss="modal"
                                    style="padding: 1.5% ">Clone
                            </button>
                            <button type="button" class="btn btn-success col-lg-3 offset-lg-1" style="padding: 1.5% ">
                                Open
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- End wrapper-->
<script src="/javascripts/internal/internalStorage.js"></script>

<!--Intro JS -->
<script type="text/javascript" src="/javascripts/external/introJS/intro.js"></script>
<script>


    $('.intro').click(function () {

        var intro = introJs();
        intro.setOptions({
            steps: [
                {
                    intro: "<p class='h4 blockquote'>Welcome to iStack Tutorial</p>"
                },

                {
                    element: document.querySelector('.add-element'),
                    intro: "<p class='h4 blockquote'>Add New Element</p>",
                    position: "left"
                },
                {

                    intro: "<p class='h4 blockquote'>Double click on any element to view it's information</p>"
                }


            ],
            showBullets: false
        });

        intro.start();


    });

</script>
<!-- Vendor scripts -->
<script src="/stylesheets/vendor/pacejs/pace.min.js"></script>

<!-- Latest compiled and minified Bootstrap & Tether JavaScript -->
<script src="/javascripts/external/bootstrap/dist/js/tether.min.js"></script>
<script src="/javascripts/external/bootstrap/dist/js/bootstrap.js"></script>

<script src="/stylesheets/vendor/toastr/toastr.min.js"></script>
<script src="/stylesheets/vendor/sparkline/index.js"></script>
<!-- InternalCore -->
<script src="/javascripts/internal/internalCore.js"></script>

</body>
</html>