
:root {
    /*Navigation Active Arrow*/
    --modal-font : #757575;
    --nav-font: #F0F0F0;
    --nav-bg: #212121;
    --nav-active-bg: #98C93C;
    --nav-active-font: #F0F0F0;
    --active-arrow: #607D8B;

    /*Canvas*/
    --canvas-bg: #E0E0E0;

    /*btn*/
    --btn-hover: #455A64;
    --btn-hover-font: #5bc0de;
    /*Toolbar*/
    --toolbar-font: #FFFFFF;
    --toolbar-bg: #263238;

    /*Generic*/

}