
.nav-item.active::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0px;
    margin-left: 30px;
    top: 30px;
    border-width: 25px;
    border-style: outset outset solid;
    border-color: transparent transparent #00A074;

}

h1, h2, h3, h4, h5, h6 {
    color: #00A074;
}

nav {

    border-bottom: 10px solid #00A074;

}

.navbar-brand {
    color: #00A074;
    letter-spacing: 1px;
    font-size: 28px;

}
