
.nav-item.active::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0px;
    margin-left: 25px;
    top: 30px;
    border-width: 25px;
    border-style: outset outset solid;
    border-color: transparent transparent #00A074;

}

.fa-cog:hover {
    animation: fa-cog 2s infinite linear;
}

@-webkit-keyframes fa-cog {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-cog {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.nav-item > a > h1, h2, h3, h4, h5, h6 {
    color: #00A074;
}

.card > ul > li {

    margin-bottom: 1px;
    background-color: darkgray;
}

nav {

    border-bottom: 10px solid #00A074;

}

.navbar-brand {
    color: #00A074;
    letter-spacing: 1px;
    font-size: 28px;

}
