
canvas {
    width: 100%;
    height: 100%;
    background-color: #ffffff
}

.nav > .nav-item.active::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0px;
    margin-left: 30px;
    top: 35px;
    border-width: 20px;
    border-style: outset outset solid;
    border-color: transparent transparent #E0E0E0;

}

.btn-circle {
    width: 55px;
    height: 55px;
    text-align: center;
    padding: 6px 0;
    font-size: 22px;
    line-height: 2.428571429;
    border-radius: 25px;
}

.btn-circle.btn-lg {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 28px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 20px 26px;
    font-size: 34px;
    line-height: 2.33;
    border-radius: 45px;
}

.btn-lg {

}

@-webkit-keyframes fa-cog {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-cog {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

nav {
    background-color: #4a4a4a;
}

.nav-item > a > h1, h2, h3, h4, h5, h6 {
    color: #f0f0f0;
}

.card > ul > li {

    margin-bottom: 1px;
    background-color: darkgray;
}

nav {

    border-bottom: 10px solid #E0E0E0;
    font-size : 8px;
    font-family:'Helvetica';
}

.navbar-brand {
    color: #E0E0E0;
    letter-spacing: -6px;
    font-size: 36px;
    color: #fefefe;
    font: 36px 'Arial Narrow', sans-serif;
    text-transform: capitalize;

}

.navbar-brand > span {
    letter-spacing: 2px;
    text-transform: lowercase;
    position: relative;

}

/* stuff for 1st word */
.navbar-brand .word1 {

    text-transform: capitalize;
    margin-left: -2px;
    letter-spacing: -2px;
    transform: rotateZ(180deg); /* using Prefix free */
    display: inline-block; /* required for transform */
    z-index: 0; /* stack 1st word on top */
}

/* stuff for 2nd word */
.navbar-brand .word2 {
    z-index: 10; /* stack 2nd word below */
    font-weight: 500;

    color: #0097A7;
}

.toolbar {
    right: 0px;
    position: absolute;
    margin-right: 4%;
    margin-top: 4%;
    z-index : 2;
}

.toolbar > * {

}

.toolbar > button {
    margin: 15%;
    background-color: #009688;
}

.toolbar > button > i {
    color: white;

}

.category-title {
    top: 10%;
    margin: 10px;

}

.category-title:hover {

    text-decoration: none;
    text-transform: capitalize;
}

.tree-toggler {

}

.tree > li.card {

    padding-left: 1%;
}

.modal-header {
    background-color: #424242
}

.modal-title {
    color: #E0E0E0
}
